@import '../../../../../assets/css/var.scss';
.payment-container {
  width: 100%;
  height: 100%;
  padding: 20px 45px 20px 0px;
  .card-form {
    .payment-card {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
      &:hover {
        -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
          0 3px 14px 2px rgba(0, 0, 0, 0.12);
      }
      .table-full-width {
        width: 100%;
        td {
          padding-right: 25px;
        }
      }
      .mat-form-field {
        width: 100%;
      }
    }
  }
  .container {
    width: 100%;
    max-width: 400px;
    max-height: 251px;
    height: 54vw;
    padding: 20px;
    -webkit-perspective: 800px;
    perspective: 800px;
    .creditcard {
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: transform 1s;
      -ms-transform: transform 1s;
      transform: transform 1s;
      width: 100%;
      max-width: 400px;
      -webkit-transition: -webkit-transform 0.6s;
      transition: transform 0.6s;
      transition: transform 0.6s, -webkit-transform 0.6s;
      cursor: pointer;
      .lightcolor,
      .darkcolor {
        -webkit-transition: fill 0.5s;
        transition: fill 0.5s;
      }

      .lightblue {
        fill: #03a9f4;
      }

      .lightbluedark {
        fill: #0288d1;
      }

      .red {
        fill: #ef5350;
      }

      .reddark {
        fill: #d32f2f;
      }

      .purple {
        fill: #ab47bc;
      }

      .purpledark {
        fill: #7b1fa2;
      }

      .cyan {
        fill: #26c6da;
      }

      .cyandark {
        fill: #0097a7;
      }

      .green {
        fill: #66bb6a;
      }
      .greendark {
        fill: #388e3c;
      }

      .lime {
        fill: #d4e157;
      }

      .limedark {
        fill: #afb42b;
      }

      .yellow {
        fill: #ffeb3b;
      }

      .yellowdark {
        fill: #f9a825;
      }

      .orange {
        fill: #ff9800;
      }

      .orangedark {
        fill: #ef6c00;
      }

      .grey {
        fill: #bdbdbd;
      }

      .greydark {
        fill: #616161;
      }
      .front {
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        .st2 {
          fill: #ffffff;
        }
        .st3 {
          font-family: 'Source Code Pro', monospace;
          font-weight: 600;
        }
        .st4 {
          font-size: 54.7817px;
        }
        .st5 {
          font-family: 'Source Code Pro', monospace;
          font-weight: 400;
        }
        .st6 {
          font-size: 33.1112px;
        }
        .st7 {
          opacity: 0.6;
          fill: #ffffff;
        }
        .st8 {
          font-size: 24px;
        }
        .st9 {
          font-size: 36.5498px;
        }
        .st10 {
          font-family: 'Source Code Pro', monospace;
          font-weight: 300;
        }
        .st11 {
          font-size: 16.1716px;
        }
        .st12 {
          fill: #4c4c4c;
        }
      }
      .back {
        // -webkit-transform: rotateY(-180deg);
        // -ms-transform: rotateY(-180deg);
        // transform: rotateY(-180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        .st0 {
          fill: none;
          stroke: #0f0f0f;
          stroke-miterlimit: 10;
        }
        .st2 {
          fill: #111111;
        }

        .st3 {
          fill: #f2f2f2;
        }

        .st4 {
          fill: #d8d2db;
        }

        .st5 {
          fill: #c4c4c4;
        }

        .st6 {
          font-family: 'Source Code Pro', monospace;
          font-weight: 400;
        }
        .st7 {
          font-size: 27px;
        }

        .st8 {
          opacity: 0.6;
        }
        .st9 {
          fill: #ffffff;
        }

        .st10 {
          font-size: 24px;
        }

        .st11 {
          fill: #eaeaea;
        }
        .st12 {
          font-family: 'Rock Salt', cursive;
        }

        .st13 {
          font-size: 37.769px;
        }
      }
      .front,
      .back {
        position: absolute;
        width: 100%;
        max-width: 400px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;
        color: #47525d;
      }
      .cardfront,
      .cardback {
        width: 100%;
        -webkit-box-shadow: 1px 5px 6px 0px black;
        box-shadow: 1px 5px 6px 0px black;
        border-radius: 22px;
      }
      .flip {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }
    }
  }
}
.dark-payment-container {
  .grey {
    fill: $lightergray !important;
  }

  .greydark {
    fill: $darkgray !important;
  }
  .card-form {
    .payment-card {
      background-color: $darkgray;
      color: $white;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
      .mat-card-title {
        color: $white !important;
        font-weight: normal;
      }
      &:hover {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.5), 0 8px 10px 1px rgba(0, 0, 0, 0.44),
          0 3px 14px 2px rgba(0, 0, 0, 0.42) !important;
      }
    }
  }
}
