@import './var.scss';
// -------------------------- Bootstrap Properties ------------------------------------
.four-part {
  flex: 0 0 25%;
  width: 25%;
}
.three-part {
  flex: 0 0 33.3%;
  width: 33.3%;
}
.two-part {
  flex: 0 0 50%;
  width: 50%;
}
.one-part {
  flex: 0 0 100%;
  width: 100%;
  min-width: 576px;
}
.eight-part {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.one-part,
.two-part,
.three-part,
.four-part,
.eight-part {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
// -------------------------- Dim the background opacity -------------------------------
.dimmed {
  opacity: 0.2;
  // background: rgba(0, 0, 0, 0.15) !important;
}
//--------------------------- Admin Management Big Inputs ------------------------------

.big-input-container {
  min-height: 540px;
  .big-delete-input {
    padding: 150px 150px 0px 150px;
  }
}
//--------------------------- Scroll Button ------------------------------
.white-scroll-btn {
  background-color: $red !important;
  position: fixed !important;
  cursor: pointer !important;
  color: $white !important;
  box-shadow: 0 0 22px #00000063 !important;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

//--------------------------- For Centre Anything ------------------------------
.centre-button {
  display: flex;
  align-items: center;
  justify-content: center !important;
}

//--------------------------- Big Texts On Cards ------------------------------
.display-text {
  font-size: 20px;
  &:hover {
    color: rgb(103, 58, 183);
    cursor: pointer;
  }
}
//--------------------------- Background Effect on Table and cards ------------------------------
.box-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}
.box-elevation-z4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}
//--------------------------- Background Effect on Table and cards ------------------------------

.centree-spinner {
  position: absolute !important;
  top: 50%;
  left: 47%;
  z-index: 999;
}
.centre-spinner {
  position: absolute !important;
  top: 50%;
  left: 48.5%;
  z-index: 999;
}
.centre-product-spinner {
  position: absolute !important;
  top: 35% !important;
  left: 48.5% !important;
  z-index: 999;
}
//--------------------------- Bottom Action button ------------------------------

.bottom-action-bar {
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: flex-end;
  right: 0;
  height: 56px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08), 0 -2px 8px rgba(0, 0, 0, 0.12);
  background-color: $darkblue;
  padding: 11px 15px;
  button {
    margin: 0 2px;
  }
  .pink-btn {
    color: $white;
    background-color: $darkpink;
  }
  .red-btn {
    color: $white !important;
    background-color: $red !important;
  }
  .yellow-btn {
    color: $black;
    background-color: $yellow;
  }
  .green-btn {
    color: $black;
    background-color: $green;
  }
}
//--------------------------- Product Display Page------------------------------

.list-product-style {
  min-height: 830px;
}
