.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

// padding
$u-padding: u-padding !default;

@for $i from 1 through  60 {
  .#{$u-padding}-#{$i} {
    padding: 0px + $i !important;
  }

}

$u-padding-bottom: u-padding-bottom !default;

@for $i from 1 through 60 {
  .#{$u-padding-bottom}-#{$i} {
    padding-bottom: 0px + $i !important;
  }

}

$u-padding-top: u-padding-top !default;

@for $i from 1 through 60 {
  .#{$u-padding-top}-#{$i} {
    padding-top: 0px + $i !important;
  }

}

.u-padding-0 {
  padding: 0px;
}


// margin
$u-margin: u-margin !default;

@for $i from 1 through 60 {
  .#{$u-margin}-#{$i} {
    margin: 0px + $i !important;
  }

}

$u-margin-bottom: u-margin-bottom !default;

@for $i from 1 through 60 {
  .#{$u-margin-bottom}-#{$i} {
    margin-bottom: 0px + $i !important;
  }

}

$u-margin-top: u-margin-top !default;

@for $i from 1 through 60 {
  .#{$u-margin-top}-#{$i} {
    margin-top: 0px + $i !important;
  }

}

$u-margin-right: u-margin-right !default;

@for $i from 1 through 60 {
  .#{$u-margin-right}-#{$i} {
    margin-right: 0px + $i !important;
  }

}

$u-margin-left: u-margin-left !default;

@for $i from 1 through 60 {
  .#{$u-margin-left}-#{$i} {
    margin-left: 0px + $i !important;
  }

}
