$screen-height: calc(100vh - 56px);
$site-header-height: 56px;
$side-panel-width: 260px;
$page-header-height: 70px; // page header height

/* css colors
--------------------------*/
$white: #ffffff;
$lightwhite: #ffffffef;
$red: #f44336;
$raspberry: #e2382c;

$yellow: #ffd740;

$skyblue: #33b5e5;
$blueberry: #106cc8;
$darkblue: #673ab7;
$blue: #3f51b5;

$green: #69f0ae;
$darkgreen: #149c17;
$darkergreen: #28a745;

$purple: #9c27b0;
$darkpurple: #7b1fa2;

$lightestgrey: #e8eaec;
$lightestgray: rgb(160, 160, 160);
$lightergray: #616161;
$lightgrey: #607d8b;
$grey: rgba(47, 47, 47, 0.84);
$darkgray: #424242;
$darkergray: #303030;
$buttongray: #3a3a3a;

$cardgray: #5d5d5d;
$darkcardgray: #525252;
$darkest: #222222;

$lighterrblack: rgba(0, 0, 0, 0.12);
$lighterblack: rgba(0, 0, 0, 0.87);
$black: #000000;
$pink: #ff4081;
$darkpink: #e91e63;
