// ------------------------------ Mat Divider -----------------------------------------
.mat-divider {
  border-top-color: $lighterrblack;
}
// ------------------------------ Mat Form Field -----------------------------------------

.mat-menu-panel {
  background: $white;
}

.mat-menu-content {
  .mat-menu-item {
    background: 0 0;
    color: rgba(0, 0, 0, 0.87);
    // .mat-icon-no-color {
    //   color: rgba(0, 0, 0, 0.54);
    // }
    :hover {
      background: rgba(0, 0, 0, 0.04);
    }
    .mat-menu-item .mat-icon-no-color,
    .mat-menu-item-submenu-trigger::after {
      color: rgba(0, 0, 0, 0.54);
    }
  }
}
// ------------------------------ Mat Form Field -----------------------------------------

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgba(0, 0, 0, 0.87);
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 0, 0, 0.12);
}
.mat-hint {
  color: rgba(0, 0, 0, 0.6);
}
