<app-jumbotron [Heading]="'admin.main_heading.all_orders'"></app-jumbotron>
<app-spinner [loading]="dataLoading" class="centre-spinner"></app-spinner>
<div [ngClass]="{'order-container':true,'dark-order-container': ( property.nightmode | async)}">
  <mat-accordion>
    <ng-container *ngFor="let user of user">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img class="user-image" src="{{ user.profilepic }}" />
          </mat-panel-title>
          <mat-panel-description>
            <p>{{user.name}}</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-accordion>
          <ng-container *ngFor="let order of user.orders index as i">
            <mat-expansion-panel>
              {{reset()}}
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'admin.table.order' | translate}} {{i+1}}
                </mat-panel-title>
                <mat-panel-description>
                  {{order[0].date}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="row" fxLayoutAlign="start">
                <div fxFlex="100%">
                  <table mat-table [dataSource]="order">
                    <ng-container matColumnDef="number">
                      <th mat-header-cell *matHeaderCellDef style="width: 15%;">
                        {{"admin.table.no" | translate}}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{increment()}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="image">
                      <th mat-header-cell *matHeaderCellDef>
                        {{"admin.table.image" | translate}}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <img class="product-image" src="{{ element.image[0].imageurl }}" />
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef>
                        {{"admin.table.name" | translate}}
                      </th>
                      <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef>
                        {{"admin.table.price" | translate}}
                      </th>
                      <td mat-cell *matCellDef="let element">{{element.price}}</td>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef>
                        {{"admin.table.quantity" | translate}}
                      </th>
                      <td mat-cell *matCellDef="let element">{{element.qty}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
                <!-- <div fxFlex="20%">
                  <mat-card class="order-card">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button
                      mat-icon-button
                      matTooltip="{{'tooltip.dispatch' | translate}}"
                      matTooltipPosition="below"
                      class="right-btn"
                    >
                      <mat-icon>check_circle</mat-icon>
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button
                      mat-icon-button
                      matTooltip="{{'tooltip.cancel' | translate}}"
                      matTooltipPosition="below"
                      class="cancel-btn"
                    >
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-card>
                </div> -->
              </div>
            </mat-expansion-panel>
          </ng-container>
        </mat-accordion>
      </mat-expansion-panel>
      <br />
    </ng-container>
  </mat-accordion>
</div>
<app-footer [position]="'sticky'"></app-footer>
