<div [ngClass]="{'input-template':true, 'dark-input-template' :( property.nightmode | async)}">
  <app-spinner [loading]="dataLoading" class="centre-spinner"></app-spinner>
  <mat-card class="input-card box-elevation-z8">
    <mat-card-header>
      <mat-card-title>{{"user.form.forgot_password" | translate}}</mat-card-title>
    </mat-card-header>
    <br />
    <form
      [ngClass]="{'input-form':true,'dark-form': ( property.nightmode | async)}"
      [formGroup]="forgotpasswordform"
    >
      <mat-form-field class="input-full-width">
        <mat-label>{{"user.form.name" | translate}}</mat-label>
        <input
          apperance="standard"
          autocomplete="off"
          matInput
          formControlName="usernameFormControl"
        />
        <mat-error *ngIf="hasError('usernameFormControl','minlength')">
          {{"user.form.name" | translate}}
          {{"user.form_validations.must_be_at_least_3_characters_long" | translate}}.
        </mat-error>
        <mat-error *ngIf="hasError('usernameFormControl','required')">
          {{"user.form.name" | translate}} {{"user.form_validations.is_required" | translate}}
        </mat-error>
      </mat-form-field>
      <br />
      <br />
      <mat-form-field class="input-full-width">
        <mat-label>{{"user.form.email" | translate}}</mat-label>
        <input
          apperance="standard"
          autocomplete="off"
          matInput
          formControlName="emailFormControl"
        />
        <mat-error *ngIf="hasError('emailFormControl','email')">
          {{"user.form_validations.please_enter_a_valid_email_address" | translate}}
        </mat-error>
        <mat-error *ngIf="hasError('emailFormControl','required')">
          {{"user.form.email" | translate}} {{"user.form_validations.is_required" | translate}}
        </mat-error>
      </mat-form-field>
    </form>
    <mat-card-content> </mat-card-content>
    <br /><br /><br /><br />
    <div class="mat-actions" [ngClass]="{dimmed: show}">
      <button
        mat-raised-button
        class="signin-btn"
        [disabled]="forgotpasswordform.invalid"
        (click)="send()"
        (keyup.enter)="send()"
      >
        {{"user.form.send" | translate}}
      </button>
    </div>
    <div class="input-text" style="margin-top: 0px;">
      <a [routerLink]="['/login']">{{"user.form.go_to_login" | translate}} </a>
    </div>
  </mat-card>
</div>
<app-spinner [loading]="dataLoading"></app-spinner>
