<app-navbar [isHidden]="true"></app-navbar>
<app-jumbotron [Heading]="'user.main_heading.your_orders'"></app-jumbotron>
<app-spinner [loading]="dataLoading" class="centre-spinner"></app-spinner>
<div [ngClass]="{'order-container':true,'dark-order-container': ( property.nightmode | async)}">
  <mat-accordion>
    <ng-container *ngFor="let order of orderitems index as i">
      <mat-expansion-panel>
        {{reset()}}
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'admin.table.order' | translate}} {{i + 1 }}
          </mat-panel-title>
          <mat-panel-description>
            {{order[0].date}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="order">
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef style="width: 15%;">
              {{"user.product.no" | translate}}
            </th>
            <td mat-cell *matCellDef="let element">
              {{increment()}}
            </td>
          </ng-container>

          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>{{"user.product.image" | translate}}</th>
            <td mat-cell *matCellDef="let element">
              <img class="product-image" src="{{ element.image[0].imageurl }}" />
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="width: 18%;">
              {{"user.product.name" | translate}}
            </th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>{{"user.product.price" | translate}}</th>
            <td mat-cell *matCellDef="let element">{{element.price}}</td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>{{"user.product.quantity" | translate}}</th>
            <td mat-cell *matCellDef="let element">{{element.qty}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="width: 100px;">
              <button class="cancel-btn" mat-raised-button (click)="cancelOrder(order[i] ,i)">
                {{"user.product.cancel_this_order" | translate}}
                <mat-icon>cancel</mat-icon>
              </button>
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                matTooltip="{{'tooltip.quick_view' | translate}}"
                matTooltipPosition="right"
                [matTooltipShowDelay]="500"
                mat-icon-button
                class="view-btn"
                (click)="quickview(element)"
              >
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-expansion-panel>
      <br />
    </ng-container>
  </mat-accordion>
</div>
<br /><br />

<mat-toolbar
  [ngClass]="{'bottom-action-bar': true,'dark-bottom-action-bar' :( property.nightmode | async)}"
  class="order-button-wrap"
>
  <button
    mat-raised-button
    [routerLink]="['/home']"
    [ngClass]="{'yellow-btn': true , 'green-btn' :( property.nightmode | async),'order-button':true}"
  >
    {{"user.cart.continue_shopping" | translate}}
  </button>
</mat-toolbar>
