@import '../../../../assets/css/var.scss';
.big-input {
  width: 100%;
  transition: all 0.5s;
  display: flex;
  padding: 10px 10px 10px 20px;
  // box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.24),
    0 1px 3px 0 rgba(0, 0, 0, 0.22);
  &:hover {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.24),
      0 3px 14px 2px rgba(0, 0, 0, 0.22);
    transform: translateY(-2px);
    transition-duration: 500ms;
  }

  input {
    flex-grow: 1;
    border: 0;
    font-size: 25px;
    min-width: 100px;
  }
}
.dark-big-input {
  background-color: $cardgray;
  &:hover {
    box-shadow: 0 5px 5px -3px rgba(156, 28, 182, 0.2), 0 8px 10px 1px rgba(156, 28, 182, 0.24),
      0 3px 14px 2px rgba(156, 28, 182, 0.22);
    transform: translateY(-2px) !important;
    transition-duration: 500ms;
  }
  input {
    color: $white;
    background-color: $cardgray;
  }
}
