@import '../../../assets/css/var.scss';

.filter-input {
  display: flex;
  justify-content: flex-end;
  margin: 20px 43px 0px 0px;
  font-size: 12px;
  .filter-btn {
    background-color: $darkblue;
    color: $white;
    height: 48px;
    position: relative;
    min-width: 25px;
    width: 40px;
    top: 3px;
    max-height: 43px;
    border-radius: 4px !important;

    .mat-icon {
      margin-left: -7px;
      font-size: 21px;
    }
  }
}
.dark-filter-input {
  color: $white !important;
  .filter-btn {
    background-color: $darkblue;
    color: $white;
    .mat-icon {
      color: $white !important;
    }
  }
}
