@import '../../../../../assets/css/var.scss';
.wrap {
  height: 50%;
  padding: 10px 80px 0px 80px;
  .product-list {
    margin: 25px;
    .review-card {
      // border: 1px solid #d8d8d8;
      border-radius: 10px;
      padding: 25px;
      background-color: $lightestgrey;
      min-height: 100%;
      &:hover {
        background-color: #fff;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
          0 3px 14px 2px rgba(0, 0, 0, 0.12);
        transition-duration: 700ms;
        transition-timing-function: ease;
        transition-delay: 100ms;
      }
      .review-card-img {
        width: 100%;
        height: 100%;
        margin: 0 auto 15px;
      }
    }
  }
}
.dark-wrap {
  .product-list {
    .review-card {
      // border: 1px solid #d8d8d8;
      background-color: $cardgray !important;
      &:hover {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.5), 0 8px 10px 1px rgba(0, 0, 0, 0.44),
          0 3px 14px 2px rgba(0, 0, 0, 0.42) !important;
        background-color: $darkgray !important;
      }
    }
    .display-text {
      color: $white !important;
      &:hover {
        color: wheat !important;
      }
    }
  }
}
