<app-jumbotron [Heading]="'admin.main_heading.delete_product'"></app-jumbotron>
<div class="big-input-container" [ngStyle]="{'min-height': (property.height | async) +'px'}">
  <div class="big-delete-input">
    <app-big-input
      [placeholder]="'admin.productform.enter_the_productid'"
      (keyup)="onInputChanged($event.target.value)"
    >
      <app-big-input-action
        [color]="'warn'"
        [iconname]="'delete_outline'"
        (action)="onProductDelete()"
        [disabled]="isDisabled"
        matTooltip="{{'tooltip.delete' | translate}}"
        [matTooltipShowDelay]="1000"
        matTooltipPosition="below"
      >
      </app-big-input-action>
    </app-big-input>
  </div>
</div>
<app-footer [position]="'sticky'"></app-footer>
