@import '../../../assets/css/var.scss';
.description-container {
  padding: 30px;
}
.dark-description-container {
  .mat-card {
    background-color: $darkgray;
    color: $white;
    &.box-elevation-z8 {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
    }
  }
  .mat-divider {
    border-top-color: $black;
  }
}
