<div
  [ngClass]="{'input-template':true, 'dark-input-template' :( property.nightmode | async)}"
  id="recipt"
  #recipt
>
  <mat-card class="input-card box-elevation-z8">
    <mat-card-header>
      <mat-card-title>{{'user.form.recipt' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br /><br />
      <div class="centre-button">
        <h2>{{'user.form.thankyou' | translate}}</h2>
      </div>
      <br />
      <div class="centre-button">
        <b><h3>{{todaydate | date}}</h3></b>
      </div>
      <div [ngClass]="{'table-wrapper':true, 'dark-table-wrapper' :( property.nightmode | async)}">
        <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef>
              {{"user.product.image" | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <img class="product-image" src="{{ element.image[0].imageurl }}" />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
              {{"user.product.name" | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef>
              {{"user.product.quantity" | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.quantity }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>
              {{"user.product.price" | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
      <br /><br />
      <div fxLayout="row" fxLayoutAlign="start">
        <div fxFlex="50%" class="billing-section">
          <h3>{{'user.form.billed_to' | translate}}</h3>
          <p>{{data?.country}}</p>
          <p>{{data?.state}}</p>
          <p>{{data?.address}}</p>
        </div>
        <div fxFlex="50%" class="billing-section">
          <h3>{{'user.form.total_amt' | translate}} :- {{totalprice}}</h3>
        </div>
      </div>
    </mat-card-content>
    <br />
  </mat-card>
</div>
<mat-toolbar
  [ngClass]="{'bottom-action-bar': true,'dark-bottom-action-bar' :( property.nightmode | async),'centre-button':true}"
>
  <button mat-raised-button class="green-btn" (click)="downloadImage()">
    {{'user.form.Download_Recipt_As_Image' | translate}}
  </button>
  &nbsp;&nbsp;
  <button mat-raised-button class="green-btn" (click)="downloadPdf()">
    {{'user.form.Download_Recipt_As_Pdf' | translate}}
  </button>
</mat-toolbar>
