@import '../../../assets/css/var.scss';

.jumbotronn {
  height: 70px !important;
  background-color: $darkblue;
  color: $white;
  display: block;
  background-size: 240px;
  background-image: url('../../../assets/images/page-header-pattern.png');
  .jumbotron-heading {
    font-size: 30px !important;
    padding-top: 20px;
    text-align: center;
  }
}
.dark-jumbotronn {
  background-color: $darkpurple;
}
